<!DOCTYPE html>
<html lang="en" ng-app="FormApp">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="angular/angular.min.js"></script>
</head>
<body ng-controller="FormCtrl as formCtrl">
    <div class="container">
        <h1>Registration Form</h1>

        <form name="RegForm" action="/submitted" method="post">

            <div class="form-group">
                <label>Email: </label>
                <br>
                <input type="email" name="email" placeholder="abc@gmail.com" ng-model="formCtrl.detail.email" required>
            </div>
            <div data-ng-show="RegForm.email.$invalid && formCtrl.detail.email.length!=0">
                <h5 class="text-warning">Invalid email format</h5>
            </div>

            <div class="form-group">
                <label>Password: </label>
                <br>
                <input type="password" name="password" placeholder="********" ng-model="formCtrl.detail.password" required>
            </div>

        	<div class="form-group">
        		<label>Name: </label>
                <br>
        		<input type="text" name="name" placeholder="Name" ng-model="formCtrl.detail.name" required>
        	</div>

            <div>
                <label>Gender: </label>
                <br>
                <div class="radio" required>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="male" ng-model="formCtrl.detail.gender">Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="female" ng-model="formCtrl.detail.gender">Female
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label>Date of Birth: </label>
                <br>
                <input type="date" name="dateofbirth" placeholder="DD-MM-YYYY" ng-model="formCtrl.detail.dateofbirth" required>
            </div>

            <div class="form-group">
                <label>Address: </label>
                <br>
                <input type="text" name="address" placeholder="Address" ng-model="formCtrl.detail.address" required>
            </div>

            <div class="form-group">
                <label>Country: </label>
                <br>
                <input type="text" name="country" placeholder="Country" ng-model="formCtrl.detail.country" required>
            </div>

            <div class="form-group">
                <label>Contact: </label>
                <br>
                <input type="text" name="contact" placeholder="Contact" ng-model="formCtrl.detail.contact"
                       ng-pattern="/([0-9\s\-]{7,})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$/"
                       required>
            </div>

            <button type="submit" class="btn btn-primary" ng-click="formCtrl.submitform()"
                    ng-disabled="formCtrl.detail.email.length<=0||
                                 formCtrl.detail.password.length<=0||
                                 formCtrl.detail.name.length<=0||
                                 formCtrl.detail.gender.length<=0||
                                 formCtrl.detail.dateofbirth.length<=0||
                                 formCtrl.detail.address.length<=0||
                                 formCtrl.detail.country.length<=0||
                                 formCtrl.detail.contact.length<=0">
                Submit
            </button>


        </form>

    </div>
</body>
<script src="jquery/dist/jquery.min.js"></script>
<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<script src="index.js"></script>
</html>